.container {
  height: 1500rpx;
}

.top-tab {
  z-index: 9999;
  width: 750rpx;
  height: 100rpx;
  margin: 0 0 8rpx;
  font-size: 28rpx;
  line-height: 100rpx;
  color: #8ccefd;
  background: #298de5;
  box-shadow: 0 2px 2px #bebebe;
}

.toptab.active {
  color: #fff;
  border-bottom: solid 2px #fff;
}

.activity {
  width: 750rpx;
  height: 375rpx;
}

.activity image {
  width: 750rpx;
  height: 375rpx;
}

.placehold {
  padding: 80rpx 0;
  font-size: 28rpx;
}
