.user {
  width: 725rpx;
  padding: 30rpx 25rpx 30rpx 0;
  margin: 15rpx 0 0;
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0 2px 5px #eee;
}

.user .userinfo-avatar {
  display: inline-block;
  flex: 1;
  width: 100rpx;
  height: 100rpx;
  border-radius: 80rpx;
}

.user .user-info {
  flex: 5;
  text-align: left;
}

.user .user-info text {
  display: block;
}

.user .user-info .userinfo-nickname {
  padding: 8rpx 0 10rpx;
  font-size: 30rpx;
  color: #818a8f;
}

.user .user-info .edit {
  font-size: 30rpx;
  line-height: 34rpx;
  color: #bababa;
}

.my {
  margin: 15rpx 0 0;
  border-top: solid 1px #ebebeb;
  border-bottom: solid 2px #ebebeb;
}

.my .my-item {
  width: 750rpx;
  padding: 0;
  background: #fff;
}

.my .my-item .myitem-icon {
  flex: 1;
}

.my .my-item .myitem-icon image {
  width: 45rpx;
  height: 45rpx;
  padding: 37.5rpx 0;
}

.my .my-item .myitem-name {
  flex: 5;
  padding: 30rpx 0;
  font-size: 34rpx;
  line-height: 60rpx;
  color: #6d6d6d;
  text-align: left;
  border-bottom: solid 1px #ebebeb;
}

.my .my-item:last-child .myitem-name {
  border-bottom: none;
}
