.profile-card {
  &__name {
    font-size: 40rpx;
    color: #1d2129;
  }

  &__meta {
    margin-top: 12rpx;
    font-size: 26rpx;
    color: rgb(29 33 41 / 50%);
  }
}

.profile-entry {
  padding: 28rpx;
  margin-bottom: 16rpx;
  font-size: 30rpx;
  color: #283143;
  background-color: rgb(255 255 255 / 95%);
  border-radius: 16rpx;
}
