.profile-settings {
  display: flex;
  flex-direction: column;
  gap: 24rpx;
  padding: 32rpx;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24rpx;
    background-color: rgb(255 255 255 / 95%);
    border-radius: 16rpx;
    box-shadow: 0 8rpx 20rpx rgb(23 34 63 / 4%);
  }

  &__label {
    font-size: 30rpx;
    color: #1d2129;
  }

  &__save {
    margin-top: 24rpx;
    color: #fff;
    background: linear-gradient(90deg, #0052d9 0%, #1d39c4 100%);
    border-radius: 20rpx;
  }
}
