/* 个人中心页面专用样式 */
.profile-page {
  padding: 32rpx;
  background: linear-gradient(180deg, #f7faff 0%, #fff 100%);
}

.profile-page__section {
  padding: 24rpx;
  margin-top: 24rpx;
  background-color: #fff;
  border-radius: 12rpx;
  box-shadow: 0 8rpx 18rpx rgb(23 34 63 / 4%);
}
