/** index.wxss **/

.container {
  height: 1500rpx;
}

.container .search {
  padding: 12.5rpx 0 12.5rpx 15rpx;
  background: #2a8ce5;
}

.container .search-left {
  flex: 8;
  text-align: left;
  background: #4ea3e7;
}

.container .search-left input {
  display: inline-block;
  height: 65rpx;
  font-size: 26rpx;
}

.search-placeholder {
  line-height: 20rpx;
  color: #8ccefd;
}

.container .search .search-left image {
  display: inline-block;
  width: 35rpx;
  height: 35rpx;
  padding: 15rpx 15rpx 15rpx 20rpx;
}

.container .search .search-right {
  flex: 1;
}

.container .search .search-right image {
  width: 45rpx;
  height: 45rpx;
  padding: 10rpx;
}

.container {
  padding: 0;
  font-size: 14rpx;
  color: #000;
  background: #f0f4f3;
}

/* feed-item part is in app.wxss for multiplexing */
