@import '../../shared.css';

$brand: red;

// https://example.com
.page {
  color: $brand;
  background-image: url('./background.svg');

  .title {
    color: $brand;
    background-clip: text;
  }
}
